@keyframes slide-up-and-fade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-right-and-fade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-down-and-fade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-left-and-fade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tooltip-animation {
  &[data-state='open'] {
    animation-duration: 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    animation-fill-mode: forwards;
    will-change: transform, opacity;

    &[data-side='bottom'] {
      animation-name: slide-up-and-fade;
    }

    &[data-side='left'] {
      animation-name: slide-right-and-fade;
    }

    &[data-side='right'] {
      animation-name: slide-left-and-fade;
    }

    &[data-side='top'] {
      animation-name: slide-down-and-fade;
    }
  }
}
