@import 'tailwindcss';

:root,
.light-section {
  --color-announcement-background: theme('colors.zinc.100');
  --color-announcement-background-hover: theme('colors.zinc.200');
  --color-announcement-border: theme('colors.zinc.200');
  --color-announcement-icon: theme('colors.zinc.700');
  --color-announcement-icon-background: theme('colors.zinc.200');
}

.dark-section {
  --color-announcement-background: theme('colors.zinc.900');
  --color-announcement-background-hover: theme('colors.zinc.800');
  --color-announcement-border: theme('colors.zinc.800');
  --color-announcement-icon: theme('colors.zinc.200');
  --color-announcement-icon-background: theme('colors.zinc.800');
  --color-announcement-icon-background-hover: theme('colors.zinc.700');
}
