@layer components {
  .button {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 text-base font-medium transition-all hover:no-underline;

    &:disabled {
      @apply cursor-not-allowed;
    }

    &.button--primary,
    &.button--ghost {
      @apply rounded-full border-2 px-6 py-4;

      &:focus {
        @apply outline-2 outline-offset-0;
      }
    }

    &.button--primary {
      @apply border-brand-700;

      & .button-custom-icon {
        @apply text-brand-700;
      }

      &:not(:disabled) {
        &:hover,
        &:focus {
          @apply border-brand-500;

          & .button-custom-icon {
            @apply text-brand-500;
          }
        }

        &:focus {
          @apply outline-brand-400;
        }
      }

      .light-section & {
        @apply text-zinc-950;

        & .button-arrow-icon {
          @apply text-zinc-500;
        }

        &:disabled {
          @apply border-zinc-300 bg-zinc-100 text-zinc-400;

          .button-custom-icon {
            @apply text-zinc-300;
          }
        }
      }

      .light-section & {
        @apply bg-white;
      }

      .gray-section & {
        @apply bg-gray-200;
      }

      .dark-section & {
        @apply bg-zinc-950 text-zinc-50;

        & .button-arrow-icon {
          @apply text-zinc-300;
        }

        &:disabled {
          @apply border-zinc-500 bg-zinc-800 text-zinc-500;

          .button-custom-icon {
            @apply text-zinc-600;
          }
        }
      }
    }

    &.button--ghost {
      .light-section & {
        @apply border-zinc-100 bg-zinc-100 text-zinc-950;

        & .button-arrow-icon {
          @apply text-zinc-500;
        }

        &:not(:disabled) {
          &:hover,
          &:focus {
            @apply border-zinc-200 bg-zinc-200;
          }

          &:focus {
            @apply outline-zinc-400;
          }
        }

        &:disabled {
          @apply text-zinc-400;

          .button-arrow-icon {
            @apply text-zinc-400;
          }

          .button-custom-icon {
            @apply text-zinc-300;
          }
        }
      }

      .dark-section & {
        @apply border-zinc-800 bg-zinc-800 text-zinc-50;

        & .button-custom-icon {
          @apply text-zinc-400;
        }

        &:not(:disabled) {
          &:hover,
          &:focus {
            @apply border-zinc-600 bg-zinc-600;
          }

          &:focus {
            @apply outline-zinc-400;
          }
        }

        &:disabled {
          @apply text-zinc-500;

          .button-arrow-icon {
            @apply text-zinc-500;
          }

          .button-custom-icon {
            @apply text-zinc-600;
          }
        }
      }
    }

    &.button--tertiary {
      &:not(:disabled):focus {
        @apply decoration-brand-400 underline underline-offset-8 outline-none;
      }

      .light-section & {
        @apply text-zinc-600;

        & .button-arrow-icon,
        & .button-custom-icon {
          @apply text-zinc-500;
        }

        &:not(:disabled) {
          &:hover,
          &:focus {
            @apply text-zinc-950;

            .button-arrow-icon,
            .button-custom-icon {
              @apply text-zinc-800;
            }
          }
        }

        &:disabled {
          @apply text-zinc-400;

          .button-arrow-icon,
          .button-custom-icon {
            @apply text-zinc-300;
          }
        }
      }

      .dark-section & {
        @apply text-zinc-300;

        & .button-arrow-icon,
        & .button-custom-icon {
          @apply text-zinc-400;
        }

        &:not(:disabled) {
          &:hover,
          &:focus {
            @apply text-zinc-50;

            .button-arrow-icon,
            .button-custom-icon {
              @apply text-zinc-300;
            }
          }
        }

        &:disabled {
          @apply text-zinc-500;

          .button-arrow-icon,
          .button-custom-icon {
            @apply text-zinc-500;
          }
        }
      }
    }
  }
}
