@import 'tailwindcss';

@import './announcement.css';
@import './button.css';
@import './card-image.css';
@import './icon-button.css';
@import './listbox.css';
@import './logo-section.css';
@import './navigation.css';
@import './slide-over.css';
@import './state-card.css';
@import './table.css';
@import './text-link.css';
@import './text-input.css';

@plugin '@tailwindcss/typography';

@theme {
  --color-brand-50: oklch(0.98 0.0157 216.67); /* #EDFBFF */
  --color-brand-100: oklch(0.95 0.035 219.18); /* #D6F5FF */
  --color-brand-200: oklch(0.92 0.0628 215.11); /* #B5F0FF */
  --color-brand-300: oklch(0.88 0.1002 212.38); /* #83EAFF */
  --color-brand-400: oklch(0.83 0.1306 218.59); /* #48DAFF */
  --color-brand-500: oklch(0.76 0.1503 232.56); /* #1EBFFF */
  --color-brand-600: oklch(0.69 0.1736 245.19); /* #06A3FF */
  --color-brand-700: oklch(0.65 0.193 251.78); /* #0090FF */
  --color-brand-800: oklch(0.53 0.1592 252.62); /* #086DC5 */
  --color-brand-900: oklch(0.47 0.1224 248.85); /* #0D5D9B */
  --color-brand-950: oklch(0.33 0.0795 249.37); /* #0E385D */

  --color-icon-success: var(--color-green-500);
  --color-brand-error: var(--color-red-500);
  --color-brand-error-dark: var(--color-red-300);

  --spacing-readable: 60ch;

  --tracking-tight: -1%;
}

@theme inline {
  --font-sans: var(--font-funnel-sans);
  --font-heading: var(--font-aspekta);
}

@utility brand-outline {
  outline: 2px solid var(--color-brand-600);
  outline-offset: 0px;
  border-color: transparent;
}

@utility prose {
  & h2,
  & h3,
  & h4 {
    @apply font-medium;
  }
}

/* SECTION VARIANT COLORS */
:root,
.light-section {
  /* General colors */
  --color-text-base: theme('colors.zinc.950');
  --color-border-base: theme('colors.zinc.950 / 15%');
  --color-border-muted: theme('colors.zinc.950 / 10%');

  /* Component specific colors */
  --color-subheading-text: theme('colors.zinc.600');
  --color-subheading-text-muted: theme('colors.zinc.600');

  --color-paragraph-text: theme('colors.zinc.600');
  --color-paragraph-text-subtle: theme('colors.zinc.500');
  --color-paragraph-text-strong: theme('colors.zinc.800');

  --color-card-background: theme('colors.white');
  --color-card-background-hover: theme('colors.zinc.50');
  --color-card-heading-hover: theme('colors.brand.800');
}

.dark-section {
  /* General colors */
  --color-text-base: theme('colors.zinc.50');
  --color-border-base: theme('colors.zinc.50 / 20%');
  --color-border-muted: theme('colors.zinc.50 / 10%');

  /* Component specific colors */
  --color-subheading-text: theme('colors.zinc.50');
  --color-subheading-text-muted: theme('colors.zinc.200');

  --color-paragraph-text: theme('colors.zinc.400');
  --color-paragraph-text-subtle: theme('colors.zinc.500');
  --color-paragraph-text-strong: theme('colors.zinc.200');

  --color-card-background: theme('colors.zinc.900');
  --color-card-background-hover: theme('colors.zinc.800');
  --color-card-heading-hover: theme('colors.brand.500');
}
