:root,
.light-section {
  --color-icon-button-border: theme('colors.zinc.300');
  --color-icon-button-border-hover: theme('colors.zinc.400');
  --color-icon-button-background-hover: theme('colors.zinc.100');
}

.dark-section {
  --color-icon-button-border: theme('colors.zinc.600');
  --color-icon-button-border-hover: theme('colors.zinc.500');
  --color-icon-button-background-hover: theme('colors.zinc.700');
}

@utility icon-button {
  @apply rounded-full border border-[var(--color-icon-button-border)] text-[var(--color-text-base)] hover:border-[var(--color-icon-button-border-hover)] hover:bg-[var(--color-icon-button-background-hover)] focus:bg-[var(--color-icon-button-background-hover)];
}
