:root,
.light-section {
  --color-listbox-button-text: var(
    --color-navigation-link-text,
    var(--color-zinc-950)
  );
  --color-listbox-button-background: var(
    --color-navigation-link-background-active,
    var(--color-zinc-100)
  );
  --color-listbox-border: var(--color-zinc-200);
  --color-listbox-option-background: var(--color-zinc-100);
  --color-listbox-option-background-hover: var(--color-zinc-200);
}

.dark-section {
  --color-listbox-button-text: var(
    --color-navigation-link-text,
    var(--color-zinc-50)
  );
  --color-listbox-button-background: var(
    --color-navigation-link-background-active,
    var(--color-zinc-800)
  );
  --color-listbox-border: var(--color-zinc-700);
  --color-listbox-option-background: var(--color-zinc-900);
  --color-listbox-option-background-hover: var(--color-zinc-800);
}

.listbox-button {
  @apply data-focus:brand-outline focus:brand-outline focus-visible:brand-outline relative block w-full rounded-lg border border-(--color-listbox-border) bg-transparent p-3 pr-11 text-left font-semibold text-(--color-listbox-button-text) data-focus:bg-(--color-listbox-button-background);
}
