:root,
.light-section {
  /* Navigation link */
  --color-navigation-link-text: theme('colors.zinc.900');
  --color-navigation-link-background-active: theme('colors.zinc.100');

  /* Navigation menu */
  --color-navigation-menu-panel-background: theme('colors.zinc.100');
  --color-navigation-menu-panel-border: theme('colors.zinc.300');
  --color-navigation-menu-panel-icon: theme('colors.zinc.600');
  --color-navigation-menu-link-background-hover: theme('colors.zinc.200');
}

.dark-section {
  /* Navigation link */
  --color-navigation-link-text: theme('colors.zinc.50');
  --color-navigation-link-background-active: theme('colors.zinc.800');

  /* Navigation menu */
  --color-navigation-menu-panel-background: theme('colors.zinc.800');
  --color-navigation-menu-panel-border: theme('colors.zinc.600');
  --color-navigation-menu-panel-icon: theme('colors.zinc.300');
  --color-navigation-menu-link-background-hover: theme('colors.zinc.700');
}
