:root,
.light-section {
  /* Navigation link */
  --color-navigation-link-text: theme('colors.zinc.900');
  --color-navigation-link-background-active: theme('colors.zinc.100');

  /* Navigation menu */
  --color-navigation-menu-panel-background: theme('colors.zinc.100');
  --color-navigation-menu-panel-border: theme('colors.zinc.300');
  --color-navigation-menu-panel-icon: theme('colors.zinc.600');
  --color-navigation-menu-link-background-hover: theme('colors.zinc.200');
}

.dark-section {
  /* Navigation link */
  --color-navigation-link-text: theme('colors.zinc.50');
  --color-navigation-link-background-active: theme('colors.zinc.800');

  /* Navigation menu */
  --color-navigation-menu-panel-background: theme('colors.zinc.800');
  --color-navigation-menu-panel-border: theme('colors.zinc.600');
  --color-navigation-menu-panel-icon: theme('colors.zinc.300');
  --color-navigation-menu-link-background-hover: theme('colors.zinc.700');
}

@layer components {
  .navigation-menu-link-external-icon {
    @apply text-[var(--color-navigation-menu-panel-icon)];
  }

  .navigation-menu-link {
    @apply hover:bg-[var(--color-navigation-menu-link-background-hover)] focus:bg-[var(--color-navigation-menu-link-background-hover)];
  }

  .navigation-menu-link-label {
    @apply font-medium text-[var(--color-text-base)];
  }

  .navigation-menu-link-description {
    @apply text-[var(--color-paragraph-text)];
  }
}
