@theme {
  --color-table-foreground: var(--color-zinc-950);
  --color-table-foreground-muted: var(--color-zinc-600);
  --color-table-background: var(--color-zinc-100);
  --color-table-border: var(--color-zinc-200);
  --color-head-button-background: var(
    --color-navigation-link-background-active,
    var(--color-zinc-100)
  );
  --color-table-row-striped: var(--color-zinc-50);
}
