:root,
.light-section {
  --color-cta-link-text: theme('colors.zinc.600');
}

.dark-section {
  --color-cta-link-text: theme('colors.zinc.300');
}

@layer components {
  .cta-link {
    @apply font-semibold text-(--color-cta-link-text);
  }

  .text-link {
    @apply focus:brand-outline;

    .light-section & {
      @apply underline;

      &:hover {
        @apply text-brand-800;
      }
    }

    .dark-section & {
      @apply text-zinc-400;

      &:hover {
        @apply underline;
      }
    }
  }
}
