.base {
  @apply text-brand-300 focus:brand-outline hover:underline;
}

.arrow {
  &::after {
    content: '';
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-left: 0.25rem;
    background: url('/assets/icons/arrow-up-right.svg') center no-repeat;
  }
}
