@import 'tailwindcss';
@source "../../../../../node_modules/@filecoin-foundation/ui";

@plugin "@tailwindcss/typography";

:root {
  --outline-brand: 2px solid var(--color-neutral-50);
  --outline-brand-offset: 0px;
  --outline-brand-border-color: transparent;
}

@theme {
  --color-brand-primary-100: #f6f7ff;
  --color-brand-primary-200: #d8d9ff;
  --color-brand-primary-300: #b5b5fa;
  --color-brand-primary-400: #9392d5;
  --color-brand-primary-500: #7271b1;
  --color-brand-primary-600: #53518d;
  --color-brand-primary-700: #37326c;
  --color-brand-primary-800: #1d144b;
  --color-brand-primary-900: #09002c;

  --color-brand-secondary-100: #d4ff5c;
  --color-brand-secondary-200: #bafe36;
  --color-brand-secondary-300: #97d800;
  --color-brand-secondary-400: #75b400;
  --color-brand-secondary-500: #559000;
  --color-brand-secondary-600: #366e00;
  --color-brand-secondary-700: #184d00;
  --color-brand-secondary-800: #002d00;
  --color-brand-secondary-900: #001100;

  --color-avatar-background: theme('colors.brand.primary.800'); /* CHECK */
  --color-avatar-full-name: theme('colors.neutral.50');
  --color-avatar-initials: theme('colors.neutral.50'); /* CHECK */
  --color-avatar-ring: theme('colors.neutral.50');

  --color-icon-primary: theme('colors.brand.primary.300');
  --color-icon-subtle: theme('colors.neutral.300'); /* CHECK */
}

@utility brand-outline {
  outline: var(--outline-brand);
  outline-offset: var(--outline-brand-offset);
  border-color: var(--outline-brand-border-color);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-relaxed;
  }
}

@utility prose {
  --tw-prose-body: var(--color-neutral-50);
  --tw-prose-headings: var(--color-neutral-50);
  --tw-prose-bold: var(--color-neutral-50);
  --tw-prose-quotes: var(--color-neutral-50);
  --tw-prose-quote-borders: var(--color-brand-primary-300);
  --tw-prose-counters: var(----color-neutral-50);
  --tw-prose-bullets: var(----color-neutral-50);
  --tw-prose-code: var(--color-neutral-50);
  --tw-prose-pre-bg: var(--color-neutral-950);
  --tw-prose-pre-code: var(--color-neutral-50);
  --tw-prose-captions: var(--color-neutral-50);
  --tw-prose-td-borders: var(--color-brand-primary-300);
  --tw-prose-th-borders: var(--color-brand-primary-300);

  & code {
    &::before,
    &::after {
      @apply content-none!;
    }
  }

  & pre {
    @apply border-brand-primary-300 border border-solid; /* CHECK */
  }

  & iframe {
    @apply w-full;

    &[src*='youtube.com'] {
      @apply aspect-video h-auto w-full;
    }
  }

  & figure {
    @apply text-center;
  }

  & figcaption {
    @apply text-left text-sm;
  }

  & table thead th {
    @apply text-brand-primary-300;
  }
}

@layer components {
  .text-link {
    @apply text-brand-primary-300 hover:text-brand-primary-500 focus:brand-outline hover:underline; /* CHECK */
  }

  .button-base {
    @apply border-2 font-bold;
  }

  .button-primary {
    @apply border-brand-primary-300 bg-brand-primary-300 text-neutral-950 hover:border-neutral-100 hover:bg-neutral-100 focus:bg-neutral-100; /* CHECK */
  }

  .button-ghost {
    @apply text-brand-primary-300 border-brand-primary-300 focus:text-brand-primary-300 bg-neutral-950 hover:border-neutral-100 hover:text-neutral-100; /* CHECK */
  }

  .button-disabled {
    @apply bg-neutral-300; /* CHECK */
  }

  .tag-label-base {
    @apply border-2;
  }

  .tag-label-primary {
    @apply border-brand-secondary-300 bg-brand-secondary-300 text-brand-secondary-800; /* CHECK */
  }

  .tag-label-secondary {
    @apply border-neutral-200 bg-neutral-950 text-neutral-200; /* CHECK */
  }

  .breadcrumbs-inactive {
    @apply text-neutral-50;
  }

  .breadcrumbs-active {
    @apply text-brand-primary-300;
  }

  .icon-button {
    @apply border-brand-primary-300 text-brand-primary-300;
  }
}
