@layer components {
  .button {
    @apply rounded-full border-2 px-6 py-4 text-base font-medium;

    &.button--primary {
      @apply relative border-transparent;

      &:not(:disabled) {
        &::before {
          background: var(--gradient-brand-dark) border-box;
        }

        &::after {
          @apply opacity-0 transition-opacity duration-200;
          background: var(--gradient-brand-light) border-box;
        }

        &:hover::after,
        &:focus::after {
          @apply opacity-100;
        }

        &::before,
        &::after {
          @apply absolute -inset-0.5 rounded-full border-2 border-transparent;
          content: '';
          mask:
            linear-gradient(var(--color-white)) content-box,
            linear-gradient(var(--color-white));
          mask-composite: exclude;
        }

        &:focus {
          @apply outline-brand-400 outline-2 outline-offset-0 transition-none;
        }
      }

      .light-section & {
        @apply text-zinc-950;

        & .button-arrow-icon {
          @apply text-zinc-600;
        }

        & .button-custom-icon {
          @apply text-blue-600;
        }

        &:hover .button-custom-icon,
        &:focus .button-custom-icon {
          @apply text-blue-400;
        }

        &:disabled {
          @apply border-zinc-300 bg-zinc-100 text-zinc-400;
        }
      }

      .dark-section & {
        @apply text-zinc-50;

        & .button-arrow-icon {
          @apply text-zinc-300;
        }

        & .button-custom-icon {
          @apply text-blue-500;
        }

        &:hover .button-custom-icon,
        &:focus .button-custom-icon {
          @apply text-blue-300;
        }

        &:disabled {
          @apply border-zinc-500 bg-zinc-800 text-zinc-500;
        }
      }
    }

    &.button--ghost {
      @apply border-zinc-100;

      &:hover {
        @apply bg-zinc-200 transition-colors;
      }

      &:focus {
        @apply outline-2 outline-offset-0 outline-zinc-400;
      }

      .light-section & {
        @apply bg-zinc-100 text-zinc-950;

        &:not(:disabled):hover,
        &:focus {
          @apply border-zinc-200 bg-zinc-200;
        }

        &:disabled {
          @apply text-zinc-400;
        }

        & .button-arrow-icon {
          @apply text-zinc-500;
        }
      }

      .dark-section & {
        @apply border-zinc-800 bg-zinc-800 text-zinc-50;

        &:not(:disabled):hover,
        &:focus {
          @apply border-zinc-600 bg-zinc-600;
        }

        &:disabled {
          @apply bg-zinc-800 text-zinc-500;
        }
      }
    }

    &.button--tertiary {
      @apply border-transparent;

      .light-section & {
        @apply text-zinc-600;

        &:not(:disabled) {
          &:hover,
          &:focus {
            @apply text-zinc-950;
          }

          &:hover .button-custom-icon,
          &:focus .button-custom-icon {
            @apply text-zinc-800;
          }
        }

        &:focus {
          @apply decoration-brand-600 underline underline-offset-8 outline-none;
        }

        &:disabled {
          @apply text-zinc-400;
        }

        & .button-arrow-icon {
          @apply text-zinc-600;
        }

        & .button-custom-icon {
          @apply text-zinc-500;
        }
      }

      .dark-section & {
        @apply text-zinc-300;

        &:not(:disabled) {
          &:hover,
          &:focus {
            @apply bg-zinc-900 text-zinc-50;
          }

          &:hover .button-custom-icon,
          &:focus .button-custom-icon {
            @apply text-zinc-300;
          }
        }

        &:focus {
          @apply brand-outline;
        }

        &:disabled {
          @apply text-zinc-500;
        }

        & .button-arrow-icon {
          @apply text-zinc-300;
        }

        & .button-custom-icon {
          @apply text-zinc-400;
        }
      }
    }
  }
}
