.table-container {
  width: 100%;
  overflow-x: auto;
  border-radius: 0.5rem;

  &:focus {
    outline: 2px solid var(--brand-outline-color);
  }

  &[data-freeze-header="true"] {
    max-height: 100vh;

    & thead td,
    & thead th {
      position: sticky;
      top: 0;
      z-index: 10;
      background: inherit;
    }
  }

  &[data-freeze-first-column="true"] {
    & td:first-child,
    & th:first-child {
      position: sticky;
      left: 0;
      z-index: 10;
      background: inherit;
    }
  }

  &[data-freeze-header="true"][data-freeze-first-column="true"] {
    & thead th:first-child {
      z-index: 20;
    }
  }
}

.table {
  isolation: isolate;
  height: 100%;
  min-width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  & tr {
    height: 52px;
    background-color: var(--color-brand-800);
  }

  & tbody {
    & tr:nth-child(odd) {
      background-color: var(--color-brand-700);
    }

    & tr:nth-child(even) {
      background-color: var(--color-brand-800);
    }
  }

  & td,
  & th {
    padding: 0 1.25rem;
    text-align: left;
    font-weight: normal;
    white-space: nowrap;

    &:first-child {
      padding-left: 2.5rem;
    }

    &:last-child {
      padding-right: 2.5rem;
    }
  }

  & thead th {
    border-bottom: 1px solid var(--color-brand-500);
  }
}
