@import 'tailwindcss';
@source "../../../../../node_modules/@filecoin-foundation/ui";

@plugin "@tailwindcss/typography";
@plugin "@headlessui/tailwindcss";
@plugin "@tailwindcss/forms";

:root {
  --outline-brand: 2px solid var(--color-brand-100);
  --outline-brand-offset: 0px;
  --outline-brand-border-color: transparent;
}

@theme {
  --color-brand-100: #eff6fc;
  --color-brand-200: #d8ebfb;
  --color-brand-300: #73b4ed;
  --color-brand-400: #0090ff;
  --color-brand-500: #154ed9;
  --color-brand-600: #0621a4;
  --color-brand-700: #06094e;
  --color-brand-800: #08072e;

  --color-brand-success: var(--color-green-400);
  --color-brand-error: var(--color-red-400);

  --color-icon-primary: var(--color-brand-300);
  --color-icon-accent: var(--color-brand-200);
  --color-icon-subtle: var(--color-brand-400);
  --color-icon-success: var(--color-brand-success);
  --color-icon-error: var(--color-brand-error);

  --spacing-readable: 60ch;
}

@utility brand-outline {
  outline: var(--outline-brand);
  outline-offset: var(--outline-brand-offset);
  border-color: var(--outline-brand-border-color);
}

@utility prose {
  --tw-prose-body: var(--color-brand-100);
  --tw-prose-headings: var(--color-brand-100);
  --tw-prose-bold: var(--color-brand-100);
  --tw-prose-quotes: var(--color-brand-100);
  --tw-prose-quote-borders: var(--color-brand-300);
  --tw-prose-counters: var(--color-brand-100);
  --tw-prose-bullets: var(--color-brand-100);
  --tw-prose-code: var(--color-brand-100);
  --tw-prose-pre-bg: var(--color-brand-700);
  --tw-prose-pre-code: var(--color-brand-100);
  --tw-prose-captions: var(--color-neutral-400);
  --tw-prose-td-borders: var(--color-brand-300);
  --tw-prose-th-borders: var(--color-brand-300);

  & code {
    &::before,
    &::after {
      @apply content-none!;
    }
  }

  & pre {
    @apply border-brand-600 border border-solid;
  }

  & iframe {
    @apply w-full;

    &[src*='youtube.com'] {
      @apply aspect-video h-auto w-full;
    }
  }

  & figure {
    @apply text-center;
  }

  & figcaption {
    @apply text-left text-sm;
  }

  & table thead th {
    @apply text-brand-300;
  }
}

@layer components {
  .text-link {
    @apply text-brand-300 focus:brand-outline hover:underline;
  }

  .toc-header {
    @apply text-brand-200 text-sm font-semibold uppercase;
  }

  .button-base {
    @apply rounded-lg border font-semibold;
  }

  .button-primary {
    @apply border-brand-300 bg-brand-300 text-brand-800 hover:border-brand-400 hover:bg-brand-400;
  }

  .button-ghost {
    @apply bg-brand-800 text-brand-100 hover:border-brand-400 hover:text-brand-400 focus:text-brand-400 border-white;
  }

  .button-disabled {
    @apply bg-brand-200;
  }

  .tag-label-base {
    @apply bg-brand-800 text-brand-100 rounded-lg border capitalize;
  }

  .tag-label-primary {
    @apply border-brand-300;
  }

  .tag-label-secondary {
    @apply border-brand-500;
  }

  .tag-label-callout {
    @apply border-brand-error;
  }

  .breadcrumbs-base {
    @apply text-brand-300 focus:brand-outline hover:underline;
  }

  .breadcrumbs-active {
    @apply text-brand-400;
  }
}
