@import 'tailwindcss';
@import '@filecoin-foundation/ui-filecoin/styles';

@source '../../../../../node_modules/@filecoin-foundation/ui';
@source '../../../../../node_modules/@filecoin-foundation/ui-filecoin';

@utility prose {
  & blockquote {
    @apply border-brand-600 border-l-2;
    quotes: none;

    & p:last-of-type {
      @apply font-normal not-italic;
    }
  }
}

@layer components {
  /* COPY TO CLIPBOARD */
  .copy-to-clipboard-button {
    @apply icon-button;
  }

  /* FORM */
  .form-text-input {
    @apply block w-full border-b py-3 placeholder:text-sm data-disabled:cursor-not-allowed;

    .light-section & {
      @apply focus:border-brand-700 border-zinc-500 placeholder:text-zinc-400 hover:border-zinc-600 hover:placeholder:text-zinc-500 focus:bg-zinc-50 focus:outline-none focus:placeholder:text-zinc-500;

      &[data-invalid] {
        @apply border-brand-error;
      }
    }

    .dark-section & {
      @apply focus:border-brand-500 border-zinc-400 placeholder-zinc-400 hover:border-zinc-50 focus:bg-zinc-900 focus:outline-none;

      &[data-invalid] {
        @apply border-brand-error;
      }
    }
  }

  .form-textarea-input {
    @apply focus:border-brand-700 block min-h-32 w-full border-b border-zinc-500 py-3 placeholder:text-sm placeholder:text-zinc-400 hover:border-zinc-600 hover:placeholder:text-zinc-500 focus:bg-zinc-50 focus:outline-none focus:placeholder:text-zinc-500 data-disabled:cursor-not-allowed;

    &[data-invalid] {
      @apply border-brand-error!;
    }
  }

  .form-checkbox-input {
    @apply group-focus:outline-brand-600 group-data-checked:bg-brand-600 group-data-checked:ring-brand-600 group-data-checked:hover:bg-brand-700 group-data-checked:hover:ring-brand-700 text-brand-100 rounded-sm bg-zinc-100 p-0.5 ring ring-zinc-600 group-focus:bg-zinc-200 group-focus:outline-2 group-focus:outline-offset-3 group-data-disabled:cursor-not-allowed hover:bg-zinc-200;
  }

  .form-checkbox-input-label {
    @apply ml-4 text-zinc-600;
  }

  .form-label {
    @apply inline-block text-sm font-medium;

    & .form-label-optional-text {
      @apply ml-1 inline-block font-light;
    }
  }

  .form-label-description {
    @apply text-brand-100 text-sm;
  }

  .form-error-description {
    @apply text-sm text-nowrap;

    .light-section & {
      @apply text-brand-error;
    }

    .dark-section & {
      @apply text-brand-error-dark;
    }
  }

  /* NOTIFICATION DIALOG */
  .notification {
    @apply rounded-lg border border-zinc-200 bg-zinc-50 text-zinc-950;

    .notification-close-button {
      @apply rounded-md text-zinc-700 hover:text-zinc-950;
    }
  }

  /* PAGINATION */
  .pagination {
    & .pagination-arrow-button {
      @apply focus:brand-outline font-medium text-zinc-600;

      &:not(:disabled):hover {
        @apply bg-zinc-100;
      }
    }

    & .pagination-delimiter {
      @apply text-[var(--color-border-muted)];
    }

    & .pagination-index-container {
      @apply size-10;
    }

    & .pagination-index-list {
      @apply gap-5;
    }

    & .pagination-number-button {
      @apply focus:brand-outline h-full w-full cursor-pointer rounded-full focus:outline-offset-1;

      &[data-current='true'] {
        @apply bg-brand-800 text-white;
      }

      &[data-current='false']:hover {
        @apply bg-brand-50;
      }
    }
  }

  /* SHARE ARTICLE */
  .share-article-list {
    @apply gap-2;

    & .copy-to-clipboard-button,
    .social-link {
      @apply scale-70;
    }
  }

  /* SOCIAL LINKS */
  .social-link {
    @apply icon-button;
  }

  /* TOOLTIP */
  .tooltip {
    @apply rounded-xl border border-zinc-200 bg-white shadow-sm;

    .tooltip-arrow {
      @apply fill-zinc-200;
    }
  }
}
