name: Cypress and Percy Tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  cypress-run:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    env:
      AIRTABLE_READ_ONLY_TOKEN: ${{ secrets.AIRTABLE_READ_ONLY_TOKEN }}
      PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
      ENCRYPTION_SECRET_KEY: "a-random-key-so-that-ci-builds-dont-fail"

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.11.1"

      - name: Install Dependencies
        run: npm ci

      - name: Build Project
        run: npm run build

      - name: Start Server
        run: |
          npm start &
          echo "Waiting for server to start..."
          npx wait-on http://localhost:3000

      - name: Run Cypress Tests with Percy
        run: npm run test:critical
