name: Publish ui-filecoin Package

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: "npm"

      - name: Install dependencies
        run: npm ci --prefer-offline

      - name: Build ui-filecoin
        run: npx turbo build --filter='@filecoin-foundation/ui-filecoin' --output-logs=new-only

      - name: Lint ui-filecoin
        run: npx turbo lint --filter='@filecoin-foundation/ui-filecoin' --output-logs=new-only

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@v1
        with:
          version: npm run version
          publish: npm run publish
          commit: "[AUTOMATED] Version packages"
          title: "Version Packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.PUBLISH_NPM_PACKAGES }}
