name: Site Lint

on:
  push:
    branches: [main, cms/*, ecosystem-submission/*]
    paths:
      - "apps/site/**"
  pull_request:
    types: [opened, synchronize]
    paths:
      - "apps/site/**"

jobs:
  lint:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/site

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      - name: Install dependencies
        run: |
          npm install --prefer-offline || npm install --prefer-offline

      - name: Generate CMS configuration schema
        run: npm run prebuild

      - name: Run linter
        run: npm run lint
