name: Site Link Checker

on:
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: apps/site

    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Lychee Link Checker
        uses: lycheeverse/lychee-action@v2.2.0
        id: lychee
        with:
          args: |
            --accept 200,429,403
            --timeout 60
            --retry-wait-time 15
            --exclude https://twitter.com/*
            --exclude https://x.com/*
            --exclude "^/.*"
            --max-retries 10
            './**/*.md'
